
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    width: 100%;
    height: 100%;
    display: block;
}

body {
    width: 100%;
    background-color: black;
    background-size: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

* {
    font-family: "Press Start 2P", sans-serif;
    font-weight: 400;
}


#wrapper {
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#counter {
    width: 400px;
    height: 400px;
    display: grid;
    justify-content: center;
    align-content: center;
    top: 20%;
}

#counter h1 {
    font-family: "Press Start 2P", sans-serif;
    font-weight: 300;
    font-size: 80px;
    text-align: center;
    color: white;
    background-color: none;
}

#count {
    width: 100px;
    height: 100px;
    font-size: 60px;
    display: grid;
    align-items: center;
    justify-self: center;
    animation: 5s ease-in 0s infinite normal none running count-spin;
    border-width: 2px;
    border-style: solid;
    border-color: #9af3f3;
    border-image: initial;
    border-radius: 50%;
    padding: 50px;
}

div > button {
    height: 100px;
    width: 100px;
    background-color: rgba(171, 0, 250, 0.95);
    opacity: 0.6;
    font-size: large;
    color: white;
    padding: 10px;
    margin: 30px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 50%;
}

#clear {
    background-color: rgba(0, 0, 0, 0);
    height: 30px;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    justify-content: center;
}

.side-header {
    color: rgba(171, 0, 250, 0.9);
    text-transform: uppercase;
    transform: rotate(-90deg);
    position: absolute;
    top: 70%;
    left: 0px;
    z-index: 6;
}

.palm {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 50vh;
}

#palm-1 {
    left: 35%;
    animation: 20s ease-in 1s infinite normal none running fly-by-left;
}

#palm-2 {
    left: 65%;
    animation: 25s ease-in 2s infinite normal none running fly-by-right;
}

#palm-3 {
    left: 60%;
    top: 50vh;
    animation: 24s ease-in 3.1s infinite normal none running fly-by-right;
}

#bg-animation {
    position: absolute;
    z-index: -3;
    width: 100%;
    height: 100%;
}

#bg-animation line {
    position: absolute;
    fill: none;
    stroke: rgba(154, 243, 243, 0.95);
    stroke-width: 1;
    animation-iteration-count: infinite;
    transform-origin: center center;
}

#bg-animation line:first-of-type {
    animation: 0s ease 0s 1 normal none running none !important;
}

#bg-animation line:nth-child(2) {
    animation: 8s ease-in 0s infinite normal none running roll-out;
}

.star {
    fill: white;
}

@keyframes roll-out {
    0% { transform: translateY(0%) scale(0.5); }
    100% { transform: translateY(100%) scale(25) translateZ(100px); }
}


@keyframes fly-by-right {
    100% { transform: translateY(300%) translateX(100000%) scale(500) rotateX(10deg); }
}

@keyframes fly-by-left {
    100% { transform: translateY(300%) translateX(-100000%) scale(500) rotateX(10deg); }
}

